* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    background: rgba(229, 84, 115, 0.10);
    align-items: center;
    padding-left: 60px;

}

.container1 {
    padding-left: 200px;
}

.img1 {
    width: 535px;
    height: 600px;

    padding: 50px 100px 0px 100px;
}

.h1 {
    color: #272727;
    font-family: Lato;
    font-size: 70px;




}

.p1 {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 32px 0px 32px 0px;
}

.button {
    padding: 20px 43px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    border: 0;
}

.featured {
    text-align: center;
    background: #FFF;
    padding: 130px 0px 0px 0px;
}

.fea-h1 {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding: 0px 0px 24px 0px;
}

.tree {
    margin-top: 25px;
}

.fea-p {

    flex-direction: column;
    flex-shrink: 0;
    color: rgba(39, 39, 39, 0.60);

    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

}

.flower-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FFF;
    padding: 0px 240px 0px 240px;
    margin-top: 25px;
    margin-bottom: 130px;


}

.flower-back {
    padding: 50px 40px 0px 40px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.flower-back1 {
    padding: 50px 40px 0px 40px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);


}

.flower-back2 {
    padding: 50px 40px 0px 40px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);



}

.flower {
    width: 220px;
    height: 300px;
    padd
}

.tree {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

.logo {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 100px 250px;
    padding: 85px 100px;
}
.feat-p{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 0px 460px;


    
}
.logo-detail {
    margin-right: 25px;
}

.logo-detail>img {
    width: 50px;
    height: 50px;
}

.logo-detail>p {
    color: rgba(39, 39, 39, 0.80);
    font-size: 15px;
    font-weight: 600;
}

.hot-deal {
    display: flex;
    text-align: center;
    background: rgba(229, 84, 115, 0.10);
    align-items: center;
    padding: 30px 0px;
}

.hot-deal-h1 {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}
.hot-p{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 0px 140px;
    padding-top: 20px;
    padding-bottom: 20px;



    
}

#off {
    color: #E55473;
}

.hot-deal-p1 { 
    padding: 15px 100px;
    flex-direction: column;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

}

.h2 {
    width: 35px;
    height: 700px;
    padding-left: 200px;
}

.hot-deal-img2 {
    padding-right: 200px;
    width: 218px;
    height: 320px;
    margin-left: 35px;
}

.insta-featured {
    text-align: center;
    margin-top: 100px;
}

.insta-container {
    display: flex;
    justify-content: center;

    align-items: center;
    text-align: center;
    margin: 20px 0px 100px 0px;
}

.insta-flower {
    width: 250px;
    height: 300px;
}

.insta-back {
    margin-right: 25px;
}

.deal-container {
    justify-content: center;
    align-items: center;
    background-image: url('./Flower Asset/Rectangle\ 9.png');
    background-repeat: no-repeat;
    margin-bottom: 100px;
    margin-left: 215px;
    margin-right: 230px;
    padding: 100px 100px;

}

.deal-info {
    text-align: center;
}

.mail {
    border: 0px;
    border-radius: 8px;
    background: #FFF;
    width: 500px;
    height: 63px;
    padding-left: 20px;
    margin-right: 16px;
}

.footer {
    background: #111010;
    padding: 100px 100px;
}

.footer-container {
    text-align: center;


}

.footer-h {
    color: #E55473;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.footer-h3 {
    color: rgba(255, 255, 255, 0.90);
    font-size: 15px;
    font-weight: 400;
    padding: 0px 360px;

}

.footer-p {
    color: #FFFFFFE5;
text-align: center;
font-size: 15px;
font-weight: 400;
padding:0px 360px;
}
.footer-pp{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    
    
}
.insta-p{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 0px 460px;
    padding-top: 15px;
    padding-bottom: 15px;


    

}

#span {
    color: #FFFFFF;
}